.hostingFormProfile {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  /* margin-top: 64px; */
  /* margin-bottom: 56px; */
  /* margin-left: 16px; */
}

.hostingFormProfile__top {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  border-bottom: 1px solid lightgray;
}

.hostingFormProfile__mid {
  display: flex;
  flex-wrap: wrap;
  padding: 64px;
  padding-bottom: 10px;
}

.hostingFormProfile__mid__info {
  display: flex;
  background-color: #a1b8cc;
  border-radius: 50px;
  padding: 10px;
  margin-bottom: 25px;
  width: 560px;
  margin-left: 82px;
}

.hostingFormProfile__mid__info > h4 {
  padding-left: 10px;
}

@media screen and (max-width: 780px) {
  .hostingFormProfile__mid__info {
    width: 280px;
    /* margin-bottom: 10px; */
    margin-right: 10px;
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .hostingFormProfile__mid {
    padding: 20px;
    flex-direction: column;
  }

  .hostingFormProfile__mid__info {
    width: 312px;
    margin-bottom: 10px;
  }
}

.hostingFormProfile__topleft {
  padding: 32px;
}

.hostingFormProfile__topleft > h1 {
  margin: 0px !important;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  color: #484848 !important;
  font-size: 32px !important;
  font-weight: 800 !important;
  line-height: 1.125em !important;
}

.hostingFormProfile__topleft > h4 {
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif !important;
  color: #484848 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 1.375em !important;
}

.not__register__top {
  text-align: center;
  padding: 4rem;
}

.not__register__top > h4 {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 18px;
  color: #683479;
}

.not__register__top > button {
  width: 200px;
  cursor: pointer;
  background-color: #683479;
  color: #fff;
  text-transform: inherit;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  padding: 16px 32px 16px 32px;
}

.not__register__top > button:hover,
.hostingFormProfile__top > button:hover {
  background-color: #704f9d;
}

.hosting__info {
  margin-top: 30px;
  background-color: #f1f1f1;
}

.hostingFormProfile__top > button {
  margin: 32px;
  /* width: 20px; */
  cursor: pointer;
  background-color: #683479;
  color: #fff;
  text-transform: inherit;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  padding: 16px 32px 16px 32px;
}

@media screen and (max-width: 480px) {
  .hostingFormProfile__top {
    padding: none;
  }

  .hostingFormProfile__topleft {
    padding: 30px 6px 10px 6px;
  }

  .hostingFormProfile__top > button {
    margin: 12px;
    font-size: unset;
  }
}

.file {
  cursor: pointer;
}

.file:hover {
  transition: transform 100ms ease-in;
  transform: scale(1.03);
}

.hostingFormProfile__card .card {
  /* margin-left: 146px; */
  width: 590px;
  text-align: center;

  /* to display in center */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.hostingFormProfile__card .card > img {
  object-fit: contain;
}

@media screen and (max-width: 780px) {
  .hostingFormProfile__card .card {
    /* margin-left: 64px !important; */
  }
}

@media screen and (max-width: 480px) {
  .hostingFormProfile__card .card {
    /* margin-left: 20px !important; */
    width: 280px;
  }

  .hostingFormProfile__card .card > img {
    object-fit: fill !important;
  }
}
