.login {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100%;
}

.login__logo > img {
  height: 150px;
  object-fit: contain;
}

.login > button {
  background-color: #ff7779;
  color: white;
  width: 300px;
  font-weight: 800;
}

.login > button:hover {
  background-color: #ff385c;
}

.MuiButton-root {
  text-transform: none;
}

@media screen and (max-width: 480px) {
  .login {
    display: unset;
    place-items: unset;
  }
  .login__logo {
    padding-left: 45px;
    padding-top: 88px;
  }
  .login__logo > img {
    height: 90px;
  }
  .login > button {
    margin-left: 122px;
    margin-top: 140px;
    width: 133px;
  }
}
