.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* flex: 0.2; */

  /* stick to the top:0 when we scroll */
  position: sticky;
  top: 0;

  /* display on top of everything */
  z-index: 100;

  background-color: white;
  width: 100%;
  height: 80px;

  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);

  overflow-x: scroll;
}

/* hide scrollbar for chrome,safari & opera */
.nav::-webkit-scrollbar {
  display: none;
}

/* hide scrollbar for IE, edge & firefox */
.nav {
  -ms-overflow-style: none;
  stroke-width: none;
}

.nav__icon {
  height: 42px;
  object-fit: contain;
  margin-left: 20px;
  min-width: 80px;
  cursor: pointer;
}

.nav__middle {
  display: flex;
  align-items: center;

  /* take majority of width & display it in center*/
  flex: 1;
  max-width: fit-content;

  border: 1px solid lightgray;
  border-radius: 999px;
  padding: 10px;

  min-width: 100px;

  margin-left: 5px;
  margin-right: 5px;
}

.nav__middle > input {
  border: none;
  outline-width: 0;
  width: 250px;

  color: black;
  font-size: 14px;
}

.nav__middle__search {
  background-color: #ff385c;
  border-radius: 999px;
  padding: 5px;
}

.nav__right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 25px;

  /* min-width: 80px; */
}

.nav__right__host {
  display: flex;
  background-color: #d8d7d7;
  border-radius: 999px;
  padding: 10px;
}

.nav__right__host:hover {
  cursor: pointer;
  transition: transform 200ms ease-in;
  transform: scale(1.1);
}

.nav__right__host > p {
  margin-right: 10px;
  font-weight: 400;
}

@media screen and (max-width: 680px) {
  .nav__middle > input {
    width: 128px;
  }
}

@media screen and (max-width: 480px) {
  .nav__icon {
    margin-left: 10px;
    width: 60px;
  }

  .nav__middle {
    height: 23px;
  }

  .nav__middle > input {
    width: 58px;
  }

  .nav__right {
    margin-right: 0px;
  }

  .nav__right__host {
    height: 23px;
    width: 84px;
  }

  /* The old text needs to be hidden first  */
  .nav__right__host > p {
    visibility: hidden;
    position: relative;
  }

  /* and a new text has to be positioned exactly where the old text was. */
  .nav__right__host > p::after {
    visibility: visible;
    position: absolute;
    content: "hosting";
    top: -1px;
    left: 0;
  }

  .nav__language {
    align-self: center;
  }

  .nav__middle > input::placeholder {
  }

  /* hide expandMore icon in mobile */
  .nav__expandmore {
    display: none !important;
  }

  .nav__avatar {
    padding: 10px !important;
  }
}
