.updateMap__container {
  position: absolute;
  top: 207px;
  bottom: 0;
  right: 0;
  left: 0;
  margin-bottom: 100px;
}

.updateMap__sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 207px;
  right: 0;
  margin: 12px;
  border-radius: 4px;
}

/* .updateMap__header {
  padding: 5px;
  text-align: center;
  font-weight: 500;
} */

.updateMap > form {
  width: 100%;
  text-align: center !important;
  position: absolute;
  bottom: 0;
  margin-bottom: 30px;
}

.updateMap__button {
  cursor: pointer;
  background-color: #1f7dff;
  color: #ffffff;
  text-transform: inherit;
  font-size: 18px;
  font-weight: 600;
  border-radius: 999px;
  border-width: 1px;
  border-style: solid;
  padding: 10px 22px;
}

.updateMap__button:hover {
  background-color: #0066ec;
}

@media screen and (max-width: 480px) {
  .updateMap__sidebar {
    top: unset;
    bottom: 0;
    margin-bottom: 100px;
  }
}
